@namespace Clipify.Maui.Components
@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(Routes).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p>抱歉，此页面不存在。</p>
        </LayoutView>
    </NotFound>
</Router>
